.venv/
__pycache__/
*.pyc
*.egg-info/
.DS_Store
.envrc

# Calibration corpus — mostly third-party / copyrighted source documents
# we use locally to tune thresholds. Not for the public repo.
boring/calibration/
